*{
    box-sizing: border-box;
}

.container {
    max-width: 400px;
    margin: 10% auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
    transition: 3.0s;
    height: auto;
}



#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    border-bottom: 1px solid black;
    background-color: deeppink;
}

.buttons {
    align-items: center;
    display: grid;
    /* border-bottom: 1px solid #999; */
    /* border-left: 1px solid#999; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    /* border-top: 1px solid #999; */
    /* border-right: 1px solid#999; */
    border: 1px solid black;
    border-radius: 900px;
    /* padding: 5px; */
    padding: 0;
    /* height: 75; */
}

.button {
    /* border: 0.5px solid #999; */
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    margin: 5px;
    margin-left: 20px;
    height: 59px;
    padding: 0;
    width: 55px;
}

#equal {
    background-color: rgb(85, 85, 255);
    color: white;
}

.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
    transform: scale(1.09);
}

.operator{
    background-color: antiquewhite;
}

.number{
    background-color: aqua;
}

.c{
    background-color: chartreuse;
}

body{
    background-image: linear-gradient( to bottom right, rgba(79,51,176,1.0),rgba(210,53,165));

}

h1{
    padding-top: 90px;
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    color: gold;
}